.kids ._main {
  display: flex;
  flex-direction: column;

  gap: 2.5rem;

  padding: 3rem 0.2rem;
}

._np ._div {
  text-align: center;
}

/* Home */
.kids ._home {
  background-image: url(../image/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
}

/* 404 Error Page */
._np h1 {
  font-size: 3rem;
}

._np ._btn {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1.5rem;
}

/* Sistema - Tutorial */

.kids ._tutorial ._card {
  font-size: 1.1rem;
}

.kids ._tutorial ._cont {
  border: var(--border);
  border-radius: var(--br);

  display: flex;
  align-items: center;

  gap: var(--space);

  padding: 0.8rem;
  font-size: 1.2rem;
  width: 100%;
}